######################### Infrastructure Configs #########################

#=========================
######## Postgres ########
#=========================

# Postgres Super User
POSTGRES_ADMIN_USER=
POSTGRES_ADMIN_PASSWORD=

# Inventory Database
INVENTORY_DB_URL=
INVENTORY_DB_USER=
INVENTORY_DB_PASSWORD=

# Auth Database
AUTH_DB_URL=
AUTH_DB_USER=
AUTH_DB_PASSWORD=